* {
    margin: 0;
}

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common style  */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* nav styles */
.section-one {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    align-items: center;
}

ul {
    display: flex;

}

li {
    list-style: none;
    margin-left: 50px;
}

ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.section-one-div-one {
    padding: 200px 440px 0 440px;
}

.section-one-title {
    font-weight: 700;
    font-size: 64px;
}

.section-one-descriotion {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.button-one {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: 0;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.section-one-image {
    padding: 10px 200px
}

.section-one img {
    width: 100%;
}

/* section two style  */
.section-two {
    display: flex;
    gap: 70px;
    margin-top: 100px;
    padding: 0 300px 0 200px;
    align-items: center;

}

.section-two-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 25px;
}

.section-two-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}

.section-two-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.span-one {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.span-two {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.section-two-button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 20px;
    background-color:#FF900E ;
    border: 0;
    border-radius: 10px;
}